{% extends 'catalog/base.html' %}

{% block title %}Детали продукта {{ object.name }}{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object.name }}</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        {% if object.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3 rounded-3">
        {% else %}
            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" alt="{{ product.name }}" class="img-fluid mb-3 rounded-3">
        {% endif %}
    </div>
    <div class="col-md-6 d-flex flex-column">


        <h2>Описание:</h2>
        <p class="text-justify text-muted">{{ object.description }}</p>
        <div class="mt-auto">
            <h1 class="card-title pricing-card-title mb-2">${{ object.price }}</h1>
            <a class="btn btn-primary btn-lg btn-block mb-3 w-20" role="button">Добавить в корзину</a>

            {% if object.status %}
                {% if object.owner == user or perms.catalog.can_unpublish_product %}
                <button class="btn btn-danger btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#unpublishProduct">Снять с публикации</button>
                {% endif %}
            {% endif %}
            <div class="btn-group mx-2">
                {% if object.owner == user %}
                <a href="{% url 'product_update' product.id %}" class="btn btn-primary btn-lg btn-block mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                {% endif %}
                {% if object.owner == user or perms.catalog.can_delete_product %}
                <button class="btn btn-danger btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#deleteBlog">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill mb-1" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}